<h1>New Author</h1>

<%= form_with(model: @author, local: true) do |form| %>
  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :name, id: "author_name" %>
  </div>

  <div class="field">
    <%= form.label :popularity_score %>
    <%= form.number_field :popularity_score, id: "author_popularity_score" %>
  </div>

  <div class="actions">
    <%= form.submit "Create Author", class: "btn btn-primary" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back", authors_path, class: "btn btn-secondary" %>
</div>

