<h1>New Author</h1>

<%= render "form", author: @author %>

<%= form_with(model: author, url: authors_path, remote: true) do |form| %>
  <!-- Form fields for author attributes -->
  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <!-- Add more form fields as needed -->

  <div class="actions">
    <%= form.submit "Create Author" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back", authors_path %>
</div>
