<h1>New Author</h1>

<%= form_with(model: @author, url: authors_path, method: :post, remote: true) do |form| %>
  <!-- Form fields for author attributes -->
  <div class="field">
  <%= form.label :name, "Author Name" %>
  <%= form.text_field :name, value: "#{@author.first_name} #{@author.last_name}" %>
  </div>

  <div class="field">
    <%= form.label :popularity_score %>
    <%= form.number_field :popularity_score %>
  </div>

  <!-- Add more form fields as needed -->

  <div class="actions">
    <%= form.submit "Create Author" %>
  </div>
<% end %>

<br>

<div>
  <%= link_to "Back", authors_path %>
</div>
