<p style="color: green"><%= notice %></p>

<%= render @author %>

<div>
  <%= link_to "Edit", edit_author_path(@author) %> |
  <%= link_to "Back", authors_path %>

  <%= button_to "Destroy", @author, method: :delete %>
</div>
