<p style="color: green"><%= notice %></p>

<dl>
  <dt>Name:</dt>
  <dd><%= @author.full_name %></dd>
  <dt>Popularity Score:</dt>
  <dd><%= @author.popularity_score %></dd>
</dl>

<div>
  <%= link_to "Edit", edit_author_path(@author) %> |
  <%= link_to "Back", authors_path %>

  <%= button_to "Destroy", @author, method: :delete %>
</div>
#descriere autor