<% if user_signed_in? %>

  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Book name</th>
        <th>Price</th>
        <th>Pages</th>
        <th>Published</th>
        <th> </th>
      </tr>
    </thead>

  <tbody>
    <% @books.each do |book| %>
      <% if book.user == current_user %>
     <tr>
      <td><%= book.book_name %></td>
      <td><%= book.price %></td>
      <td><%= book.page_number %></td>
      <td><%= book.publication_date.inspect %></td> <!-- Debugging output -->
      <td><%= button_to 'Delete', book, method: :delete, data: 
      { confirm: 'Are you sure?'}, class:"btn btn-outline-danger
      btn-sm" %></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
  </table>

  <br>

  <%= link_to "New", new_book_path, class:"btn btn-secondary" %>
<% else %>
  <h1>Hello World</h1>
  Oh ya!
<% end %>