<div class="jumbotron">
  <h1 class="display-4">
    <%=@book.book_name%>
    </h1>
  <p class="lead">
    <% if @book.author %>
      <%= @book.author.first_name %>
      <%= @book.author.last_name %>
    <% else %>
      Author not specified
    <% end %>
  </p>
  <hr class>
  <p>Pret: <%= @book.price %> lei</p>
  
  <%= link_to "Edit", edit_book_path(@book), class:"btn 
  btn-secondary" %> 

  <%= button_to 'Delete', @book, method: :delete, data: { confirm: 
    'Are you sure?' }, class:"btn btn-danger"  %>

  <%= link_to "Back", books_path, class:"btn btn-dark" %>
  <br/><br/>
  
</div>

