<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Include ActionCable -->
  <%= action_cable_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- Title -->
  <title>Your App Title</title>
</head>
<body>
  <% if user_signed_in? %>
    <div id="current-user-id" data-user-id="<%= current_user.id %>" style="display: none;"></div>
  <% end %>

  <% cache 'header' do %>
    <%= render 'home/header' %>
  <% end %>

  <div class="container">
    <br/>

    <% if notice %>
      <%= render 'layouts/alerts' %>
    <% end %>
    
    <%= yield %>
  </div>

  <script>
    $(document).on('ajaxSend', function(e, xhr, options) {
      var token = $('meta[name="csrf-token"]').attr('content');
      xhr.setRequestHeader('X-CSRF-Token', token);
    });
  </script>
</body>
</html>