<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'books' %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>

</head>
<body>

  <%= render 'home/header' %>
  <div class="container">
    <br/>
  

    <% if notice%>
      <%= render 'layouts/alerts' %>
    <% end %>
    
    <%= yield %>
  </div>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>
</html>